# 忽略编译生成的文件
/build/
/bin/
/obj/

# 忽略临时文件
*.tmp
*.log
*.swp
*.bak
*.old

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 IDE 生成的文件
.vscode/
.idea/
*.code-workspace

# 忽略 CMake 生成的文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 忽略数据库文件
*.db